
@font-face {
    font-family: "ucicon";
    src: url("/public/media/client/fonts/unicon/ucicon.eot");
    src: url("/public/media/client/fonts/unicon/ucicon.eot?#iefix") format("eot"),
    url("/public/media/client/fonts/unicon/ucicon.woff2") format("woff2"),
    url("/public/media/client/fonts/unicon/ucicon.woff") format("woff"),
    url("/public/media/client/fonts/unicon/ucicon.ttf") format("truetype"),
    url("/public/media/client/fonts/unicon/ucicon.svg#ucicon") format("svg")
}

.icn::before {
    font-family: "ucicon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal !important;
    speak: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.icn-abacus::before {
    content: "\E001"
}

.icn-addressbook::before {
    content: "\E002"
}

.icn-agenda::before {
    content: "\E003"
}

.icn-aim::before {
    content: "\E004"
}

.icn-alarm::before {
    content: "\E005"
}

.icn-analytics::before {
    content: "\E006"
}

.icn-android::before {
    content: "\E007"
}

.icn-apple::before {
    content: "\E008"
}

.icn-archive::before {
    content: "\E009"
}

.icn-arrow_d::before {
    content: "\E00A"
}

.icn-arrow_l::before {
    content: "\E00B"
}

.icn-arrow_r::before {
    content: "\E00C"
}

.icn-arrow_u::before {
    content: "\E00D"
}

.icn-attachment::before {
    content: "\E00E"
}

.icn-avatar::before {
    content: "\E00F"
}

.icn-back::before {
    content: "\E010"
}

.icn-badge_star::before {
    content: "\E011"
}

.icn-badge_thumbup::before {
    content: "\E012"
}

.icn-bag::before {
    content: "\E013"
}

.icn-barcode::before {
    content: "\E014"
}

.icn-behance::before {
    content: "\E015"
}

.icn-blackboard::before {
    content: "\E016"
}

.icn-blocked::before {
    content: "\E017"
}

.icn-bluetooth::before {
    content: "\E018"
}

.icn-book::before {
    content: "\E019"
}

.icn-bookmark::before {
    content: "\E01A"
}

.icn-bookmark_filled::before {
    content: "\E01B"
}

.icn-branch::before {
    content: "\E01C"
}

.icn-branch_add::before {
    content: "\E01D"
}

.icn-briefcase::before {
    content: "\E01E"
}

.icn-brokenlink::before {
    content: "\E01F"
}

.icn-brush::before {
    content: "\E020"
}

.icn-calculator::before {
    content: "\E021"
}

.icn-calendar::before {
    content: "\E022"
}

.icn-calendar_add::before {
    content: "\E023"
}

.icn-call::before {
    content: "\E024"
}

.icn-cancel::before {
    content: "\E025"
}

.icn-chat::before {
    content: "\E026"
}

.icn-checkmark::before {
    content: "\E027"
}

.icn-choose_mult::before {
    content: "\E028"
}

.icn-choose_one::before {
    content: "\E029"
}

.icn-clean::before {
    content: "\E02A"
}

.icn-clip::before {
    content: "\E02B"
}

.icn-clipboard::before {
    content: "\E02C"
}

.icn-clock::before {
    content: "\E02D"
}

.icn-close::before {
    content: "\E02E"
}

.icn-cloud::before {
    content: "\E02F"
}

.icn-coffee::before {
    content: "\E030"
}

.icn-coin::before {
    content: "\E031"
}

.icn-comment::before {
    content: "\E032"
}

.icn-compactdisc::before {
    content: "\E033"
}

.icn-copy::before {
    content: "\E034"
}

.icn-course::before {
    content: "\E035"
}

.icn-course_add::before {
    content: "\E036"
}

.icn-cup::before {
    content: "\E037"
}

.icn-dashboard::before {
    content: "\E038"
}

.icn-database::before {
    content: "\E039"
}

.icn-desk::before {
    content: "\E03A"
}

.icn-diagram::before {
    content: "\E03B"
}

.icn-dictionary::before {
    content: "\E03C"
}

.icn-dictionarysearch::before {
    content: "\E03D"
}

.icn-diplom::before {
    content: "\E03E"
}

.icn-disconnect::before {
    content: "\E03F"
}

.icn-dislike::before {
    content: "\E040"
}

.icn-document::before {
    content: "\E041"
}

.icn-download::before {
    content: "\E042"
}

.icn-drawing::before {
    content: "\E043"
}

.icn-dribbble::before {
    content: "\E044"
}

.icn-dropbox::before {
    content: "\E045"
}

.icn-edit::before {
    content: "\E046"
}

.icn-eject::before {
    content: "\E047"
}

.icn-embed::before {
    content: "\E048"
}

.icn-envelope::before {
    content: "\E049"
}

.icn-eraser::before {
    content: "\E04A"
}

.icn-error::before {
    content: "\E04B"
}

.icn-exam::before {
    content: "\E04C"
}

.icn-exit::before {
    content: "\E04D"
}

.icn-expand::before {
    content: "\E04E"
}

.icn-expand_off::before {
    content: "\E04F"
}

.icn-export::before {
    content: "\E050"
}

.icn-facebook::before {
    content: "\E051"
}

.icn-fail::before {
    content: "\E052"
}

.icn-fastforward::before {
    content: "\E053"
}

.icn-female::before {
    content: "\E054"
}

.icn-file::before {
    content: "\E055"
}

.icn-film::before {
    content: "\E056"
}

.icn-fingerprint::before {
    content: "\E057"
}

.icn-flickr::before {
    content: "\E058"
}

.icn-folder::before {
    content: "\E059"
}

.icn-fullscreen::before {
    content: "\E05A"
}

.icn-fullscreen_off::before {
    content: "\E05B"
}

.icn-funnel::before {
    content: "\E05C"
}

.icn-glue::before {
    content: "\E05D"
}

.icn-googlechrome::before {
    content: "\E05E"
}

.icn-googledocs::before {
    content: "\E05F"
}

.icn-googledrive::before {
    content: "\E060"
}

.icn-googleplay::before {
    content: "\E061"
}

.icn-googleplus::before {
    content: "\E062"
}

.icn-graph::before {
    content: "\E063"
}

.icn-group::before {
    content: "\E064"
}

.icn-group_add::before {
    content: "\E065"
}

.icn-hide::before {
    content: "\E066"
}

.icn-history::before {
    content: "\E067"
}

.icn-home::before {
    content: "\E068"
}

.icn-hourglass::before {
    content: "\E069"
}

.icn-idcard::before {
    content: "\E06A"
}

.icn-iframe::before {
    content: "\E06B"
}

.icn-import::before {
    content: "\E06C"
}

.icn-info::before {
    content: "\E06D"
}

.icn-instagram::before {
    content: "\E06E"
}

.icn-key::before {
    content: "\E06F"
}

.icn-keyhole::before {
    content: "\E070"
}

.icn-kickstarter::before {
    content: "\E071"
}

.icn-lamp::before {
    content: "\E072"
}

.icn-layers::before {
    content: "\E073"
}

.icn-left::before {
    content: "\E074"
}

.icn-library::before {
    content: "\E075"
}

.icn-like::before {
    content: "\E076"
}

.icn-like_filled::before {
    content: "\E077"
}

.icn-link::before {
    content: "\E078"
}

.icn-linkedin::before {
    content: "\E079"
}

.icn-list::before {
    content: "\E07A"
}

.icn-list_ol::before {
    content: "\E07B"
}

.icn-list_ul::before {
    content: "\E07C"
}

.icn-locked::before {
    content: "\E07D"
}

.icn-male::before {
    content: "\E07E"
}

.icn-man::before {
    content: "\E07F"
}

.icn-mark::before {
    content: "\E080"
}

.icn-marker::before {
    content: "\E081"
}

.icn-menu::before {
    content: "\E082"
}

.icn-menu_burger::before {
    content: "\E083"
}

.icn-microphone::before {
    content: "\E084"
}

.icn-microphone_muted::before {
    content: "\E085"
}

.icn-minus::before {
    content: "\E086"
}

.icn-moikrug::before {
    content: "\E087"
}

.icn-more_h::before {
    content: "\E088"
}

.icn-more_v::before {
    content: "\E089"
}

.icn-mortarboard::before {
    content: "\E08A"
}

.icn-mute::before {
    content: "\E08B"
}

.icn-muted::before {
    content: "\E08C"
}

.icn-navigation::before {
    content: "\E08D"
}

.icn-network::before {
    content: "\E08E"
}

.icn-next::before {
    content: "\E08F"
}

.icn-note::before {
    content: "\E090"
}

.icn-notes::before {
    content: "\E091"
}

.icn-notification::before {
    content: "\E092"
}

.icn-odnoklassniki::before {
    content: "\E093"
}

.icn-officechair::before {
    content: "\E094"
}

.icn-palette::before {
    content: "\E095"
}

.icn-panel::before {
    content: "\E096"
}

.icn-pause::before {
    content: "\E097"
}

.icn-paypal::before {
    content: "\E098"
}

.icn-pdf::before {
    content: "\E099"
}

.icn-phone::before {
    content: "\E09A"
}

.icn-photocamera::before {
    content: "\E09B"
}

.icn-picture::before {
    content: "\E09C"
}

.icn-piechart::before {
    content: "\E09D"
}

.icn-pinterest::before {
    content: "\E09E"
}

.icn-placeholder::before {
    content: "\E09F"
}

.icn-plan::before {
    content: "\E0A0"
}

.icn-plan_add::before {
    content: "\E0A1"
}

.icn-playbutton::before {
    content: "\E0A2"
}

.icn-plus::before {
    content: "\E0A3"
}

.icn-podium::before {
    content: "\E0A4"
}

.icn-power::before {
    content: "\E0A5"
}

.icn-printer::before {
    content: "\E0A6"
}

.icn-profits::before {
    content: "\E0A7"
}

.icn-projector::before {
    content: "\E0A8"
}

.icn-pushpin::before {
    content: "\E0A9"
}

.icn-puzzle::before {
    content: "\E0AA"
}

.icn-question::before {
    content: "\E0AB"
}

.icn-questionlist::before {
    content: "\E0AC"
}

.icn-questiontext::before {
    content: "\E0AD"
}

.icn-quote::before {
    content: "\E0AE"
}

.icn-record::before {
    content: "\E0AF"
}

.icn-refresh::before {
    content: "\E0B0"
}

.icn-repeat::before {
    content: "\E0B1"
}

.icn-report::before {
    content: "\E0B2"
}

.icn-report_csv::before {
    content: "\E0B3"
}

.icn-restart::before {
    content: "\E0B4"
}

.icn-resume::before {
    content: "\E0B5"
}

.icn-retry::before {
    content: "\E0B6"
}

.icn-rewind::before {
    content: "\E0B7"
}

.icn-rich::before {
    content: "\E0B8"
}

.icn-right::before {
    content: "\E0B9"
}

.icn-scorm::before {
    content: "\E0BA"
}

.icn-search::before {
    content: "\E0BB"
}

.icn-send::before {
    content: "\E0BC"
}

.icn-server::before {
    content: "\E0BD"
}

.icn-settings::before {
    content: "\E0BE"
}

.icn-share::before {
    content: "\E0BF"
}

.icn-sharescreen::before {
    content: "\E0C0"
}

.icn-shirt::before {
    content: "\E0C1"
}

.icn-shuffle::before {
    content: "\E0C2"
}

.icn-skip::before {
    content: "\E0C3"
}

.icn-skype::before {
    content: "\E0C4"
}

.icn-slides::before {
    content: "\E0C5"
}

.icn-smartphone::before {
    content: "\E0C6"
}

.icn-sort_down::before {
    content: "\E0C7"
}

.icn-sort_up::before {
    content: "\E0C8"
}

.icn-sortable_h::before {
    content: "\E0C9"
}

.icn-sortable_v::before {
    content: "\E0CA"
}

.icn-sortablehandle::before {
    content: "\E0CB"
}

.icn-sortby::before {
    content: "\E0CC"
}

.icn-sortby_down::before {
    content: "\E0CD"
}

.icn-sortby_up::before {
    content: "\E0CE"
}

.icn-speaker::before {
    content: "\E0CF"
}

.icn-speedometer::before {
    content: "\E0D0"
}

.icn-stapler::before {
    content: "\E0D1"
}

.icn-star::before {
    content: "\E0D2"
}

.icn-star_filled::before {
    content: "\E0D3"
}

.icn-statistic::before {
    content: "\E0D4"
}

.icn-step_back::before {
    content: "\E0D5"
}

.icn-step_next::before {
    content: "\E0D6"
}

.icn-stop::before {
    content: "\E0D7"
}

.icn-stopwatch::before {
    content: "\E0D8"
}

.icn-success::before {
    content: "\E0D9"
}

.icn-tabs::before {
    content: "\E0DA"
}

.icn-task::before {
    content: "\E0DB"
}

.icn-taskcheck::before {
    content: "\E0DC"
}

.icn-test::before {
    content: "\E0DD"
}

.icn-test_choose_multiple::before {
    content: "\E0DE"
}

.icn-test_choose_multiple_alt::before {
    content: "\E0DF"
}

.icn-test_choose_one::before {
    content: "\E0E0"
}

.icn-test_choose_one_alt::before {
    content: "\E0E1"
}

.icn-textalign_c::before {
    content: "\E0E2"
}

.icn-textalign_j::before {
    content: "\E0E3"
}

.icn-textalign_l::before {
    content: "\E0E4"
}

.icn-textalign_r::before {
    content: "\E0E5"
}

.icn-thumbs_down::before {
    content: "\E0E6"
}

.icn-thumbs_up::before {
    content: "\E0E7"
}

.icn-tilda::before {
    content: "\E0E8"
}

.icn-timepassing::before {
    content: "\E0E9"
}

.icn-trash::before {
    content: "\E0EA"
}

.icn-trophy::before {
    content: "\E0EB"
}

.icn-tumblr::before {
    content: "\E0EC"
}

.icn-twitter::before {
    content: "\E0ED"
}

.icn-unlocked::before {
    content: "\E0EE"
}

.icn-user_f::before {
    content: "\E0EF"
}

.icn-user_m::before {
    content: "\E0F0"
}

.icn-users::before {
    content: "\E0F1"
}

.icn-users_add::before {
    content: "\E0F2"
}

.icn-users_mf::before {
    content: "\E0F3"
}

.icn-videocamera::before {
    content: "\E0F4"
}

.icn-videoplayer::before {
    content: "\E0F5"
}

.icn-view::before {
    content: "\E0F6"
}

.icn-view_cards::before {
    content: "\E0F7"
}

.icn-view_rows::before {
    content: "\E0F8"
}

.icn-view_table::before {
    content: "\E0F9"
}

.icn-view_wide::before {
    content: "\E0FA"
}

.icn-vimeo::before {
    content: "\E0FB"
}

.icn-vkontakte::before {
    content: "\E0FC"
}

.icn-volumecontrol::before {
    content: "\E0FD"
}

.icn-wallet::before {
    content: "\E0FE"
}

.icn-wand::before {
    content: "\E0FF"
}

.icn-warning::before {
    content: "\E100"
}

.icn-warning_filled::before {
    content: "\E101"
}

.icn-webresource::before {
    content: "\E102"
}

.icn-webresourse::before {
    content: "\E103"
}

.icn-whatsapp::before {
    content: "\E104"
}

.icn-wifi::before {
    content: "\E105"
}

.icn-windows::before {
    content: "\E106"
}

.icn-woman::before {
    content: "\E107"
}

.icn-wordpress::before {
    content: "\E108"
}

.icn-worldwide::before {
    content: "\E109"
}

.icn-writing::before {
    content: "\E10A"
}

.icn-youtube::before {
    content: "\E10B"
}

.icn-zoom::before {
    content: "\E10C"
}

.icn-zoomin::before {
    content: "\E10D"
}

.icn-zoomout::before {
    content: "\E10E"
}

.icn-zoomvideoconf::before {
    content: "\E10F"
}

