.btn {
    cursor: pointer;
    outline: 0;
    border: none;
    background: none;

    &-def {
        @include rem(height, 60px);
        @include rem(border-radius, 4px);
        padding: 0 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background-color: #3cc0e7;

        &:hover {
        }

        &:active {

        }
    }

    &-send {
        @include rem(height, 60px);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        width: 100%;
        background-color: #fff;
        box-sizing: border-box;
        margin-top: 2rem;
    }

}

.exp-pricing-btn .theme-border-btn {
    width: 80%;
    text-align: center;
    border: 1px solid #46c3e8;
    background-color: inherit;
    color: #46c3e8;
    font-weight: 500;
    @include rem(margin,20px auto);
    @include rem(border-radius,50px);
    @include rem(padding,5px);
    @include rem(line-height,40px);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.exp-pricing-btn .theme-border-btn span {
    width: 100%;
}
.exp-pricing-btn .btn i {
    float: right;
    background-color: #eee;
    @include rem(padding,15px);
    border-radius: 50%;
    color: #ff8400;
    background-image: url(/public/media/client/images/icon/right-new.png);
    background-size: 69%;
    background-position: center center;
    background-repeat: no-repeat;

}
