.footer {
    background-color: #202020;
    padding: 4rem 0;
    color: #fff;

    &_main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include sm-block() {
            .text-s16 {
                @include rem(font-size, 22px);
            }

            .text-s18 {
                @include rem(font-size, 24px);
            }
        }

        &-left {
            @include sm-block() {
                width: 100%;
            }
        }

        &-right {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            @include sm-block() {
                width: 100%;
                margin-top: 4rem;
                text-align: left;
                .it-footer_content-menu {
                    justify-content: flex-start;
                    align-items: flex-start;
                }
                .it-footer_head:after {
                    left: 0 !important;
                    transform: translateX(0) !important;
                }
            }

            .it-footer_head {
                .title {
                    width: 100%;
                }

                &:after {
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
}

.it-footer {
    & + & {
        margin-left: 4rem;
    }

    &_head {
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 2rem;
            height: 2px;
            background-color: #3cc0e7;
        }
    }

    &_main {

    }

    &_content {
        &-menu {
            display: flex;
            flex-direction: column;
            align-items: center;

            a + a {
                margin-top: 1.5rem;
            }
        }
    }
}
