$mapSize: (
    main: ((s68: 68, s20: 20, s25: 25, s32: 32, s18: 18, s16: 16, s14: 14, s15: 15, s42: 42, s80:80, s50:50), "rem", 18),
    780: ((s20:18), "rem", 18),
);
//1400: ((s120: 72, s24: 16, s48:28), "rem", 18),
//780: ((s120: 96, s48: 36), "rem", 16),
$mainSize: 1920;

@function parseInt($n) {
    /* 2 */
    @return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
    $px: (); /* 3 */
    $rem: (); /* 3 */

    @each $value in $values {
        /* 4 */

        @if $value == 0 or $value == auto {
            /* 5 */
            $px: append($px, $value);
            $rem: append($rem, $value);
        } @else {
            $unit: unit($value); /* 6 */
            $val: parseInt($value); /* 6 */

            @if $unit == 'px' {
                /* 7 */
                $px: append($px, $value);
                $rem: append($rem, ($val / 18 + rem));
            }

            @if $unit == 'rem' {
                /* 7 */
                $px: append($px, ($val * 18 + px));
                $rem: append($rem, $value);
            }
        }
    }

    @if $px == $rem {
        /* 8 */
        #{$property}: $px; /* 9 */
    } @else {
        #{$property}: $px; /* 9 */
        #{$property}: $rem; /* 9 */
    }
}

html {
    //font-size: 18px;
    font-size: 0.928vw;
    @include w1420-block() {
        font-size: 1.208vw;
    }
    @include sm-block() {
        font-size: 2.308vw;
    }

}


h2.text {
    font-weight: bold;
    letter-spacing: 0.9px;
}


.text {

    font-family: 'Rubik', sans-serif;

    @each $key, $sizeStap in $mapSize {
        @if ($key=="main") {
            @each $stapSize, $size in nth($sizeStap, 1) {
                &-#{$stapSize} {
                    @if (nth($sizeStap, 2)=="vw") {
                        font-size: #{$size/($mainSize/100)}vw;
                    } @else {
                        font-size: #{$size/nth($sizeStap, 3)}rem;
                    }
                }
                &-#{$stapSize}vw {
                    font-size: #{$size/($mainSize/100)}vw;
                }

            }
        } @else {
            @media screen and (max-width: #{$key}px) {
                @each $stapSize, $size in nth($sizeStap, 1) {
                    &-#{$stapSize} {
                        @if (nth($sizeStap, 2)=="vw") {
                            font-size: #{$size/($key/100)}vw;
                        } @else {
                            font-size: #{$size/nth($sizeStap, 3)}rem;
                        }
                    }
                    &-#{$stapSize}vw {
                        font-size: #{$size/($key/100)}vw;
                    }
                }
            }
        }
    }
}

@font-face {
    font-family: et-line;
    src: url(/public/media/client/fonts/et-line/et-line.26ec3c7d.eot);
    src: url(/public/media/client/fonts/et-line/et-line.26ec3c7d.eot?#iefix) format("embedded-opentype"), url(/public/media/client/fonts/et-line/et-line.b01ff252.woff) format("woff"), url(/public/media/client/fonts/et-line/et-line.98126e3e.ttf) format("truetype"), url(/public/media/client/fonts/et-line/et-line.569bd908.svg#et-line) format("svg");
}


.icon-adjustments, .icon-alarmclock, .icon-anchor, .icon-aperture, .icon-attachment, .icon-bargraph, .icon-basket, .icon-beaker, .icon-bike, .icon-book-open, .icon-briefcase, .icon-browser, .icon-calendar, .icon-camera, .icon-caution, .icon-chat, .icon-circle-compass, .icon-clipboard, .icon-clock, .icon-cloud, .icon-compass, .icon-desktop, .icon-dial, .icon-document, .icon-documents, .icon-download, .icon-dribbble, .icon-edit, .icon-envelope, .icon-expand, .icon-facebook, .icon-flag, .icon-focus, .icon-gears, .icon-genius, .icon-gift, .icon-global, .icon-globe, .icon-googleplus, .icon-grid, .icon-happy, .icon-hazardous, .icon-heart, .icon-hotairballoon, .icon-hourglass, .icon-key, .icon-laptop, .icon-layers, .icon-lifesaver, .icon-lightbulb, .icon-linegraph, .icon-linkedin, .icon-lock, .icon-magnifying-glass, .icon-map, .icon-map-pin, .icon-megaphone, .icon-mic, .icon-mobile, .icon-newspaper, .icon-notebook, .icon-paintbrush, .icon-paperclip, .icon-pencil, .icon-phone, .icon-picture, .icon-pictures, .icon-piechart, .icon-presentation, .icon-pricetags, .icon-printer, .icon-profile-female, .icon-profile-male, .icon-puzzle, .icon-quote, .icon-recycle, .icon-refresh, .icon-ribbon, .icon-rss, .icon-sad, .icon-scissors, .icon-scope, .icon-search, .icon-shield, .icon-speedometer, .icon-strategy, .icon-streetsign, .icon-tablet, .icon-target, .icon-telescope, .icon-toolbox, .icon-tools, .icon-tools-2, .icon-trophy, .icon-tumblr, .icon-twitter, .icon-upload, .icon-video, .icon-wallet, .icon-wine {
    font-family: 'et-line';
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
}


.icon-mobile:before {
    content: "\e000";
}

.icon-laptop:before {
    content: "\e001";
}

.icon-desktop:before {
    content: "\e002";
}

.icon-tablet:before {
    content: "\e003";
}

.icon-phone:before {
    content: "\e004";
}

.icon-document:before {
    content: "\e005";
}

.icon-documents:before {
    content: "\e006";
}

.icon-search:before {
    content: "\e007";
}

.icon-clipboard:before {
    content: "\e008";
}

.icon-newspaper:before {
    content: "\e009";
}

.icon-notebook:before {
    content: "\e00a";
}

.icon-book-open:before {
    content: "\e00b";
}

.icon-browser:before {
    content: "\e00c";
}

.icon-calendar:before {
    content: "\e00d";
}

.icon-presentation:before {
    content: "\e00e";
}

.icon-picture:before {
    content: "\e00f";
}

.icon-pictures:before {
    content: "\e010";
}

.icon-video:before {
    content: "\e011";
}

.icon-camera:before {
    content: "\e012";
}

.icon-printer:before {
    content: "\e013";
}

.icon-toolbox:before {
    content: "\e014";
}

.icon-briefcase:before {
    content: "\e015";
}

.icon-wallet:before {
    content: "\e016";
}

.icon-gift:before {
    content: "\e017";
}

.icon-bargraph:before {
    content: "\e018";
}

.icon-grid:before {
    content: "\e019";
}

.icon-expand:before {
    content: "\e01a";
}

.icon-focus:before {
    content: "\e01b";
}

.icon-edit:before {
    content: "\e01c";
}

.icon-adjustments:before {
    content: "\e01d";
}

.icon-ribbon:before {
    content: "\e01e";
}

.icon-hourglass:before {
    content: "\e01f";
}

.icon-lock:before {
    content: "\e020";
}

.icon-megaphone:before {
    content: "\e021";
}

.icon-shield:before {
    content: "\e022";
}

.icon-trophy:before {
    content: "\e023";
}

.icon-flag:before {
    content: "\e024";
}

.icon-map:before {
    content: "\e025";
}

.icon-puzzle:before {
    content: "\e026";
}

.icon-basket:before {
    content: "\e027";
}

.icon-envelope:before {
    content: "\e028";
}

.icon-streetsign:before {
    content: "\e029";
}

.icon-telescope:before {
    content: "\e02a";
}

.icon-gears:before {
    content: "\e02b";
}

.icon-key:before {
    content: "\e02c";
}

.icon-paperclip:before {
    content: "\e02d";
}

.icon-attachment:before {
    content: "\e02e";
}

.icon-pricetags:before {
    content: "\e02f";
}

.icon-lightbulb:before {
    content: "\e030";
}

.icon-layers:before {
    content: "\e031";
}

.icon-pencil:before {
    content: "\e032";
}

.icon-tools:before {
    content: "\e033";
}

.icon-tools-2:before {
    content: "\e034";
}

.icon-scissors:before {
    content: "\e035";
}

.icon-paintbrush:before {
    content: "\e036";
}

.icon-magnifying-glass:before {
    content: "\e037";
}

.icon-circle-compass:before {
    content: "\e038";
}

.icon-linegraph:before {
    content: "\e039";
}

.icon-mic:before {
    content: "\e03a";
}

.icon-strategy:before {
    content: "\e03b";
}

.icon-beaker:before {
    content: "\e03c";
}

.icon-caution:before {
    content: "\e03d";
}

.icon-recycle:before {
    content: "\e03e";
}

.icon-anchor:before {
    content: "\e03f";
}

.icon-profile-male:before {
    content: "\e040";
}

.icon-profile-female:before {
    content: "\e041";
}

.icon-bike:before {
    content: "\e042";
}

.icon-wine:before {
    content: "\e043";
}

.icon-hotairballoon:before {
    content: "\e044";
}

.icon-globe:before {
    content: "\e045";
}

.icon-genius:before {
    content: "\e046";
}

.icon-map-pin:before {
    content: "\e047";
}

.icon-dial:before {
    content: "\e048";
}

.icon-chat:before {
    content: "\e049";
}

.icon-heart:before {
    content: "\e04a";
}

.icon-cloud:before {
    content: "\e04b";
}

.icon-upload:before {
    content: "\e04c";
}

.icon-download:before {
    content: "\e04d";
}

.icon-target:before {
    content: "\e04e";
}

.icon-hazardous:before {
    content: "\e04f";
}

.icon-piechart:before {
    content: "\e050";
}

.icon-speedometer:before {
    content: "\e051";
}

.icon-global:before {
    content: "\e052";
}

.icon-compass:before {
    content: "\e053";
}

.icon-lifesaver:before {
    content: "\e054";
}

.icon-clock:before {
    content: "\e055";
}

.icon-aperture:before {
    content: "\e056";
}

.icon-quote:before {
    content: "\e057";
}

.icon-scope:before {
    content: "\e058";
}

.icon-alarmclock:before {
    content: "\e059";
}

.icon-refresh:before {
    content: "\e05a";
}

.icon-happy:before {
    content: "\e05b";
}

.icon-sad:before {
    content: "\e05c";
}

.icon-facebook:before {
    content: "\e05d";
}

.icon-twitter:before {
    content: "\e05e";
}

.icon-googleplus:before {
    content: "\e05f";
}

.icon-rss:before {
    content: "\e060";
}

.icon-tumblr:before {
    content: "\e061";
}

.icon-linkedin:before {
    content: "\e062";
}

.icon-dribbble:before {
    content: "\e063";
}

