@import "../../mics/predpro/style";
@import "./components/text";
@import "./components/header";
@import "./components/footer";
@import "./components/btn";
@import "./components/prop";
@import "../../../../node_modules/swiper/dist/css/swiper.css";
@import "../../../../node_modules/@fancyapps/fancybox/src/css/core.css";

.container {
    @include rem(width, 1408px);
    max-width: 95%;
    margin: 0 auto;
    @include sm-block() {
        max-width: 90%;
    }


}



.contact {
    padding-top: 7rem;
    padding-bottom: 3rem;

    &_main {
        display: flex;
        flex-wrap: wrap;
    }

    &_text {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &_maps {
        width: 50%;

        #maps {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.stupid {
    color: #333;
    padding: 5px 0;
    text-align: center;
}

.text-cs {
    width: 100%;
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
    padding-top: 1rem;
}

.jockey {
    width: 50px;
    height: 3px;
    background-color: #f4f4f4;
    margin: 25px auto;
}

.point {
    &-text {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #fff;
        background-color: #3cc0e7;
        border-radius: 100%;
        height: 13rem;
        width: 13rem;
        margin-top: 5rem;
        position: relative;

        &_border {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 80%;
            height: 80%;
            transform: translate(-50%, -50%);
            border-radius: 100%;
            border: 1px dashed #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }


        &_title {

        }

        &_after {

        }
    }
}

.price {
    :before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 150px solid #46c3e8;
        transform: rotate(88deg);
        z-index: 2;
        @include rem(top, -71px);
        @include rem(left, 65px);
        @include rem(border-radius, 50px);
    }
}

.text-block {
    width: 100%;
    flex-grow: 2;
    display: flex;
    align-items: flex-end;

    &-center {
        justify-content: center;
        align-items: center;
    }

    &_main {
        @include rem(padding-left, 40px);
        @include rem(width, 831px);
        @include rem(padding-bottom, 40px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &_befor {
            margin-bottom: 1rem;
            padding-left: 2rem;
            color: #3cc0e7;
            text-transform: uppercase;
        }

        &_name {
            margin-bottom: 2rem;

        }

        &_after {
            margin-bottom: 2rem;
            width: 75%;
        }
    }
}


.phone {
    display: flex;
    align-items: center;
    padding-right: 2rem;
    border-left: 1px solid #ccc;
    padding-left: 1rem;


    &_icon {
        img {
            @include rem(width, 36px);
        }
    }

    &_call {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;

        &_name {
            margin-bottom: 0.25rem;
            color: #616161;
        }

        &_phone {
            font-weight: bold;
        }
    }
}

.menu {
    .nav ul li {
        margin-left: 0;
    }

    .nav ul {
        margin-left: 0;
    }

    .nav {
        width: 100%;
    }
}

.login {
    padding-right: 2rem;
    text-transform: uppercase;
    @include sm-block() {
        padding: 5rem 0;
        padding-bottom: 0;
        text-align: center;
        width: 100%;
    }

    &-none {
        @include sm-block() {
            display: none;
        }
    }
}

.section {
    @include rem(padding, 70px 0);
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &_text {
        @include rem(width, 650px);
        @include sm-block() {
            width: 100%;
        }
    }

    &_img {
        @include rem(width, 540px);
        margin-left: auto;
        border-radius: 100%;
        overflow: hidden;
        @include sm-block() {
            width: 75%;
            margin: auto;
            margin-top: 4rem;
        }
    }
}

.before {
    color: #3cc0e7;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    @include rem(margin-left, 35px);

    &-tema {
        margin-bottom: 1rem;
    }

    &:before {
        content: "";
        position: absolute;
        height: 2px;
        background-color: #3cc0e7;
        top: 50%;
        @include rem(left, -35px);
        @include rem(width, 30px);
        transform: translateY(-50%);
    }
}


.title {
    width: 80%;

    &-big {
        width: 100%;
    }

    &-p1 {
        padding: 1rem 0;
    }

    &-pb1 {
        padding-bottom: 1rem;
    }
}

.content {
    color: #797979;
}

.out_list {

    display: flex;
    flex-wrap: wrap;
    width: 80%;

    &_img {

    }

    &_text {
        width: 50%;
        flex-grow: 2;
        padding-left: 1rem;
    }

    &_btn {
        display: flex;
        justify-content: flex-start;
        margin-top: 2rem;
    }

    margin-top: 2rem;
}

.gallery {
    margin-bottom: 2rem;

    &-top {
        padding-top: 8rem;
    }

    &_head {
        margin-bottom: 2rem;
        text-align: center;
        padding: 2rem 0;
        background-color: #f9fafb;
    }


    &_main {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1rem;

    }
}


.img-gal {
    width: calc(25% - 1rem);
    margin-left: 1rem;
    margin-bottom: 1rem;

}


.choose-us {
    width: 100%;
    background-color: #fafafa;
    padding-bottom: 1rem;

    &_head {
        width: 100%;
        text-align: center;
        padding: 2rem 0;
    }

    &_main {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1rem;
        margin-top: 1rem;
    }
}

.work_item {
    text-align: center;
    border: 1px solid #f3f1f1;
    background: #fff;
    box-sizing: border-box;
    @include rem(padding, 60px 25px);
    @include rem(margin-bottom, 30px);
    cursor: pointer;
    margin-left: 1rem;
    width: calc(25% - 1rem);
    @include sm-block() {
        width: calc(50% - 1rem);
    }

    &_icon {
        i {
            @include rem(font-size, 32px);
            @include rem(height, 80px);
            @include rem(line-height, 80px);
            @include rem(width, 80px);
        }
    }

    &_name {
        text-align: center;
        font-weight: 600;
        margin-top: 1.5rem;
    }

    &_content {
        text-align: center;
        margin-top: 1.5rem;
        color: #797979;

        .text {
            line-height: 160%;
        }
    }
}

.work_item i {
    border: 1px solid #8a8a8a;
    border-radius: 50%;
    color: #8a8a8a;
    display: inline-block;
}


.request {

    &_head {
        text-align: center;
        width: 100%;
        padding: 2rem 0;
    }

    &_main {
        display: flex;
        flex-wrap: wrap;
        margin-top: 2rem;
        padding-bottom: 4rem;

        &_detalis {
            width: 50%;
            @include sm-block() {
                width: 100%;
            }
        }

        &_order {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            @include sm-block() {
                width: 100%;
                margin-top: 4rem;
            }
        }
    }
}

.form-request {
    background-color: #3cc0e7;
    padding: 1rem 4rem;
    padding-bottom: 3rem;
    width: 100%;

    &_head {
        color: #fff;
        width: 100%;
        text-align: center;
        padding: 1rem 0;
    }

    &_main {
        margin-top: 1rem;
    }
}


.deserve-item .deserve-content {
    position: relative;
    @include rem(padding-left, 65px);
    @include rem(margin-top, 30px);
}

.deserve-item .deserve-content::before {
    width: 1px;
    height: 140%;
    background-color: #e73c3e;
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    @include rem(left, 20px);
}

.deserve-item .deserve-content span {
    display: inline-block;
    background-color: #f9fafb;
    border: 1px solid #e73c3e;
    text-align: center;
    color: #e73c3e;
    position: absolute;
    left: 0;
    top: 0;
    @include rem(height, 40px);
    @include rem(width, 40px);
    @include rem(line-height, 40px);
    @include rem(border-radius, 50px);
}

.deserve-item .deserve-content h4 {
    @include rem(margin-bottom, 10px);
}

p:last-child {
    margin-bottom: 0;
}

.deserve-item .deserve-content p {
    margin-bottom: 0;
}

.deserve-item .deserve-content {
    position: relative;
    @include rem(padding-left, 65px);
    @include rem(margin-top, 30px);
}

.deserve-item .deserve-btn {
    @include rem(margin-top, 25px);
}

.deserve-content:last-child::before {
    display: none;
}


.label {
    & + & {
        margin-top: 2rem;
    }

    &_name {
        width: 100%;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
        color: #fff;
    }

    &_input {
        outline: 0;
        background-color: #ffffff;
        border: none;
        -webkit-box-shadow: unset;
        box-shadow: unset;
        @include rem(height, 50px);
        border-radius: 0;
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        box-sizing: border-box;
    }
}


.vacancy {
    padding-bottom: 2rem;
    background-color: #fafafa;

    &_head {
        text-align: center;
        padding-top: 2rem;
    }

    &_main {
        padding: 0 4rem;
        margin-top: 2rem;
        box-sizing: border-box;
    }
}


.exp-pricing-plans-inner {
    text-align: center;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: .3s;
    @include rem(border-radius, 10px);
    @include rem(padding, 20px);
    @include rem(margin, 20px 0);
}

.exp-pricing-plans-inner:before {
    position: absolute;
    content: "";
    @include rem(top, -71px);
    @include rem(left, 65px);
    width: 0;
    height: 0;
    border-left: 0.5555555555555556rem solid transparent;
    border-right: 0.5555555555555556rem solid transparent;
    border-bottom: 8.333333333333333rem solid #46c3e8;
    transform: rotate(88deg);
    @include rem(border-radius, 50px);

    z-index: 2;
}

.exp-pricing-plans-top {
    @include rem(padding, 30px 0);
}

.exp-pricing-plans-top h6 {
    @include rem(margin-bottom, 10px);
}

.exp-price-mrp {
    color: #46c3e8;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    padding: 20px 0;
}

.exp-pricing-plans-mid {
    padding: 30px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.exp-pricing-plans-mid {
    p {
        & + p {
            padding-top: 2rem;
        }
    }
}


.team {
    padding-bottom: 2rem;

    &_head {
        text-align: center;
        padding: 2rem 0;
    }

    &_main {

    }
}

.slider-gl {
    @include sm-block() {
        .prop_img {
            position: relative;
            padding: 0;
            background-size: cover !important;
            background-position: center center !important;
        }
        .text-block {
            padding-top: 10rem;
        }

        .prop_img_src {
            position: relative;

        }
    }
}

.ppex {
    p + p {
        padding-top: 0.5rem;
    }
}

.i_in_work_area {
    h1, h2, h3 {
        color: #3cc0e7;
        font-size: 1.5rem;
        font-weight: bold;
    }

    p {
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    p.s_p {
        background-color: #eff2f4;
        padding: 20px 30px;
        border-radius: 5px;
        font-style: italic;
    }
}
